.adjustSizeImg{
    margin-right: -20%;
}

.adjustDescription{
    margin-left: -750px;
<<<<<<< HEAD
=======
}

.colorBlack{
    color: black;
>>>>>>> 34c640d (publish final version project alurapic)
}